UserTable.css

.user-list-container {
    margin-top: 20px;
  }
  
  .user-list-container h2 {
    margin-bottom: 10px;
  }
  
  .user-list-container button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-list-container button:hover {
    background-color: #0056b3;
  }
  
  .user-list-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-list-container th, .user-list-container td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .user-list-container th {
    background-color: #f2f2f2;
  }
  
  .user-list-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-list-container tbody tr:hover {
    background-color: #e2e2e2;
  }
  
  .user-list-container td button {
    padding: 6px 12px;
    margin-right: 6px;
    font-size: 14px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-list-container td button:hover {
    background-color: #c82333;
  }

  .header-container {
    display: flow-root;
    align-items: center;
  }
  .search-bar{
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  